.git/
.github/
.vs/
.vscode/
.idea/
bin/
obj/
**/bin/
**/obj/
TestResults/
**/TestResults/
test-results/
**/test-results/
coverage/
**/coverage/
*.trx
logs/
*.log
*.user
*.suo
*.rsuser

.env
.env.*
!.env.example
!**/.env.example

**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.tfvars
!**/*.tfvars.example
**/backend.hcl

**/node_modules/
**/.angular/
**/dist/
**/build/
