COMPANYSERVICE_DB_PASSWORD=replace-with-local-company-db-password
INVENTORYSERVICE_DB_PASSWORD=replace-with-local-inventory-db-password
SHIPMENTSERVICE_DB_PASSWORD=replace-with-local-shipment-db-password
